name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: '8'
      - name: Setup Node
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
